.inventory {
  &-container {
    width: 560px;
    height: 862px;
    position: absolute;
    top: calc(50% - 431px);
    left: 25px;
  }

  &-body {
    display: flex;

    &__main {
      width: 100%;
      background: #242223;
      padding: 13px 0 13px 14px;
      border: 1px solid black;
    }
  }
}