<style scoped src="./InventoryPanel.scss"></style>
<template>
  <div class="inventory-container">
    <InventoryHeader></InventoryHeader>
    <div class="inventory-body">
      <InventoryMenu :activeMenuItem="activeMenuItem" @menuClick="handleMenuClick"></InventoryMenu>
      <div class="inventory-body__main">
        <InventoryLabel :label='activeMenuItem.label'/>
        <InventoryContent :type="activeMenuItem.value" />
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import {ref} from "vue";

// Types
import type {IActiveMenuItem} from "@/modules/inventory-panel/interfaces/menu-item.interface";
import {MenuItemLabels, MenuItems} from "@/modules/inventory-panel/types/menu-item.types";

// Components
import InventoryHeader from './components/inventory-header/InventoryHeader.vue';
import InventoryMenu from './components/inventory-menu/InventoryMenu.vue';
import InventoryLabel from './components/invenotory-label/InventoryLabel.vue';
import InventoryContent from "./components/inventory-content/InventoryContent.vue";


const activeMenuItem = ref<IActiveMenuItem>({
  label: MenuItemLabels[MenuItems.ALL_ITEMS],
  value: MenuItems.ALL_ITEMS
});

function handleMenuClick(target: MenuItems) {
  activeMenuItem.value = {
    label: MenuItemLabels[target],
    value: target
  };
}

</script>
