<style scoped src="./InventoryLabel.scss"></style>
<template>
  <span class="label">{{ props.label }}</span>
</template>
<script setup lang="ts">
  const props = defineProps({
    label: {
      type: String,
      required: true
    }
  })
</script>