.inventory-header {
  display: flex;
  &__tabs {
    display: flex;
    width: 100%;

    label {
      width: 50%;
      height: 60px;
      line-height: 60px;
      text-align: center;
      display: inline-block;
      background: #393839;
      color: rgba(256,256,256,.47);
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 400;
      border: 1px solid black;
      cursor: pointer;
    }

    input:checked+label {
      background: #242223;
      color: white;
    }
  }

  &__actions {
    height: 60px;
    flex: 0 0 60px;
    border: 1px solid black;

    &-close {
      display: inline-block;
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
      cursor: pointer;
      background: url("/src/assets/images/icons/close.png") no-repeat 50%;

      &:hover {
        background-color: rgba(0,0,0,.8);
      }
    }
  }
}