<style scoped src="./InventoryHeader.scss"></style>
<template>
  <div class="inventory-header">
    <div class="inventory-header__tabs">

      <input checked id="blackpack" type="radio" hidden name="input-header-tab">
      <label for="blackpack">blackpack</label>

      <input id="nexus" type="radio" hidden name="input-header-tab">
      <label for="nexus">nexus</label>
    </div>
    <div class="inventory-header__actions">
      <button @click="closeInventory" class="inventory-header__actions-close"></button>
    </div>
  </div>
</template>
<script setup lang="ts">
  function closeInventory() {
    alert('Should close');
  }
</script>