.ps {
  height: 744px;

  .ps__thumb-y {
    border-radius: 0px;
    width: 3px !important;
    right: calc(50% - 1.5px);
  }

  .ps--clicking {
    background: transparent !important;
  }

  .ps__rail-y {
    background: transparent !important;
    width: 13px !important;
  }
}

.v-popper--theme-tooltip {
  .v-popper__wrapper {
    font-size: 16px;
    font-family: 'Archivo Black', sans-serif;

    .v-popper__arrow-container {
      display: none;
    }

    .v-popper__inner {
      background: #1A1A1A;
      border: 2px solid #6C6C6C;
      border-radius: 0 5px 5px 5px;

      div {
        color: #969696;
      }
    }
  }
}

.inventory-items {
  &__blocks-wrapper {
    display: flex;
    flex-flow: row wrap;

    > div {
      width: 91px;
      height: 91px;
      border: 1px solid #454545;
      background: #1A1A1A;
      display: flex;
      position: relative;

      img {
        width: 80px;
        height: 80px;
        margin: auto;
      }

      span.count {
        position: absolute;
        bottom: 0;
        right: 4px;
        color: white;
        font-size: 17px;
        font-family: 'JetBrains Mono', sans-serif;
        line-height: 17px;
      }

      span.cooldown {
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding-top: 50px;
        background: rgba(0, 0, 0, .4) url("/src/assets/images/icons/timer.png") no-repeat 50% 30%;
        font-size: 15px;
        text-align: center;
        color: white;
      }

      &[data-maxcharges] {
        &::before {
          color: white;
          font-size: 16px;
          font-family: 'JetBrains Mono', sans-serif;
          content: attr(data-availablecharges) '/' attr(data-maxcharges);
          position: absolute;
          padding-left: 3px;
          width: 62px;
          height: 36px;
          left: 0;
          background: linear-gradient(150deg, #060606A6, #060606A6 50%, transparent 50%, transparent 100%);
        }
      }

      &[data-type=armor] {
        background: radial-gradient(circle at 45%, #1e4e87 0%, #1e4e87 30%, transparent 80%);
      }

      &[data-type=weapon] {
        background: radial-gradient(circle at 45%, #5c4592 0%, #5c4592 30%, transparent 80%);
      }
    }
  }
}