<style src="./InventoryContent.scss"></style>
<template>
  <div class="inventory-items__container">
    <perfect-scrollbar>
      <div v-if="filteredItems.length" class="inventory-items__blocks-wrapper">
        <div
            v-for="item of filteredItems" :key="item.id"
            v-tooltip="{
              content: item.name,
              placement: 'right-end'
            }"
            :data-type="item.type"
            :data-availablecharges="item.charges"
            :data-maxcharges='item.maxCharges'>
          <template v-if="!item.isEmpty">
            <img :src="item.imageUrl" alt="">
            <span v-if="item.count" class="count">
          x{{ item.count }}
        </span>
            <span class="cooldown" v-if="item.cooldown && (item.cooldown - currentTimestamp) > 0">
          {{ Math.round((item.cooldown - currentTimestamp) / 1000) }}s
        </span>
          </template>
        </div>
      </div>
    </perfect-scrollbar>
  </div>
</template>
<script setup lang="ts">
import {onBeforeMount, ref, watch} from "vue";
import axios from 'axios'

import {
  getCaseNumber,
  getFilteredData,
  getNormalizedData
} from "@/modules/inventory-panel/components/inventory-content/helpers/helper";
import type {IInventoryItemInterface} from "@/shared/interfaces/inventory/inventory-item.interface";
import type {MenuItems} from "@/modules/inventory-panel/types/menu-item.types";

const props = defineProps({
  type: {
    type: String,
    required: true
  }
})

const activeItemType = ref<MenuItems>(props.type)

watch(() => props.type, (newType: MenuItems) => {
  activeItemType.value = newType;
  filteredItems.value = (getFilteredData(userItems.value, newType)).data;
})

const userItems = ref<IInventoryItemInterface[]>([]);
const filteredItems = ref<IInventoryItemInterface[]>([]);
const currentTimestamp = ref<number>(Date.now());
const caseNumber = getCaseNumber();

onBeforeMount(async () => {
  try {
    const res = await axios.get(`https://us-central1-seven-seven-bit-inhouse-helper.cloudfunctions.net/vueDevTestTask-getInventoryState?case=${caseNumber}`);
    userItems.value = res.data.inventory;

    const filteredData = getFilteredData(userItems.value, activeItemType.value);
    filteredItems.value = filteredData.data;

    if (filteredData.maxCooldown) {
      updateCooldowns(filteredData.maxCooldown);
    }
  } catch (err) {
    alert(err);
  }
})

function updateCooldowns(treshold: number): void {
  currentTimestamp.value = Date.now();
  const intervalId = setInterval(() => {
    currentTimestamp.value = Date.now();
    if (currentTimestamp.value - treshold >= 0) {
      clearInterval(intervalId);
    }
  }, 1000)
}
</script>