<style scoped src="./InventoryMenu.scss"></style>
<template>
  <div class="inventory-menu">
    <div class="inventory-menu__items">
      <div v-for="item in MenuItems" :key="item">
        <MenuIcon @menuClick="handleMenuClick" :active="props.activeMenuItem.value === item" :icon="item"/>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import MenuIcon from "./MenuIcon.vue";
import {MenuItems} from "@/modules/inventory-panel/types/menu-item.types";

const props = defineProps({
  activeMenuItem: {
    type: Object,
    required: true
  }
})
const emit = defineEmits<{
  (e: 'menuClick', target: string): void
}>()

function handleMenuClick(target: string) {
  emit('menuClick', target);
}

</script>