.inventory-menu {
  width: 64px;
  flex: 0 0 64px;

  &__items {
    display: flex;
    flex-direction: column;
    gap: 33px;
    align-items: center;
    list-style: none;
    padding: 16px 0;
    border: 1px solid black;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
  }
}