<style scoped>
svg {
  cursor: pointer;
}
</style>
<template>

  <template v-if="props.icon === MenuItems.ALL_ITEMS">
    <svg @click="handleMenuClick(MenuItems.ALL_ITEMS)" width="34" height="34" viewBox="0 0 34 34" fill="none"
         xmlns="http://www.w3.org/2000/svg">
      <path
          d="M14.5714 9.71428C13.9036 9.71428 13.3316 9.47628 12.8556 9.00029C12.3796 8.52429 12.142 7.95276 12.1429 7.28571V2.42857C12.1429 1.76072 12.3809 1.18879 12.8569 0.712787C13.3329 0.236788 13.9044 -0.000807462 14.5714 2.06161e-06H19.4286C20.0964 2.06161e-06 20.6684 0.238002 21.1444 0.714002C21.6204 1.19 21.8579 1.76153 21.8571 2.42857V7.28571C21.8571 7.95357 21.6191 8.5255 21.1431 9.0015C20.6671 9.4775 20.0956 9.71509 19.4286 9.71428H14.5714ZM9.71428 7.28571C9.71428 7.95357 9.47628 8.5255 9.00029 9.0015C8.52429 9.4775 7.95276 9.71509 7.28571 9.71428H2.42857C1.76072 9.71428 1.18879 9.47628 0.712787 9.00029C0.236788 8.52429 -0.000807462 7.95276 2.06161e-06 7.28571V2.42857C2.06161e-06 1.76072 0.238002 1.18879 0.714002 0.712787C1.19 0.236788 1.76153 -0.000807462 2.42857 2.06161e-06H7.28571C7.95357 2.06161e-06 8.5255 0.238002 9.0015 0.714002C9.4775 1.19 9.71509 1.76153 9.71428 2.42857V7.28571ZM12.1429 14.5714C12.1429 13.9036 12.3809 13.3316 12.8569 12.8556C13.3329 12.3796 13.9044 12.142 14.5714 12.1429H19.4286C20.0964 12.1429 20.6684 12.3809 21.1444 12.8569C21.6204 13.3329 21.8579 13.9044 21.8571 14.5714V19.4286C21.8571 20.0964 21.6191 20.6684 21.1431 21.1444C20.6671 21.6204 20.0956 21.8579 19.4286 21.8571H14.5714C13.9036 21.8571 13.3316 21.6191 12.8556 21.1431C12.3796 20.6671 12.142 20.0956 12.1429 19.4286V14.5714ZM7.28571 12.1429C7.95357 12.1429 8.5255 12.3809 9.0015 12.8569C9.4775 13.3329 9.71509 13.9044 9.71428 14.5714V19.4286C9.71428 20.0964 9.47628 20.6684 9.00029 21.1444C8.52429 21.6204 7.95276 21.8579 7.28571 21.8571H2.42857C1.76072 21.8571 1.18879 21.6191 0.712787 21.1431C0.236788 20.6671 -0.000807462 20.0956 2.06161e-06 19.4286V14.5714C2.06161e-06 13.9036 0.238002 13.3316 0.714002 12.8556C1.19 12.3796 1.76153 12.142 2.42857 12.1429H7.28571Z"
          fill="white" :fill-opacity="iconOpacity"/>
      <path
          d="M26.7142 21.8569C26.0464 21.8569 25.4744 21.6189 24.9984 21.1429C24.5224 20.6669 24.2848 20.0953 24.2856 19.4283V14.5712C24.2856 13.9033 24.5236 13.3314 24.9996 12.8554C25.4756 12.3794 26.0472 12.1418 26.7142 12.1426H31.5714C32.2392 12.1426 32.8111 12.3806 33.2871 12.8566C33.7631 13.3326 34.0007 13.9041 33.9999 14.5712V19.4283C33.9999 20.0961 33.7619 20.6681 33.2859 21.1441C32.8099 21.6201 32.2384 21.8577 31.5714 21.8569H26.7142ZM24.2856 26.714C24.2856 26.0461 24.5236 25.4742 24.9996 24.9982C25.4756 24.5222 26.0472 24.2846 26.7142 24.2854H31.5714C32.2392 24.2854 32.8111 24.5234 33.2871 24.9994C33.7631 25.4754 34.0007 26.047 33.9999 26.714V31.5711C33.9999 32.239 33.7619 32.8109 33.2859 33.2869C32.8099 33.7629 32.2384 34.0005 31.5714 33.9997H26.7142C26.0464 33.9997 25.4744 33.7617 24.9984 33.2857C24.5224 32.8097 24.2848 32.2382 24.2856 31.5711V26.714Z"
          fill="white" :fill-opacity="iconOpacity"/>
      <path
          d="M12.1429 26.7147C12.1429 26.0468 12.3809 25.4749 12.8569 24.9989C13.3329 24.5229 13.9044 24.2853 14.5714 24.2861H19.4286C20.0964 24.2861 20.6684 24.5241 21.1444 25.0001C21.6204 25.4761 21.8579 26.0477 21.8571 26.7147V31.5718C21.8571 32.2397 21.6191 32.8116 21.1431 33.2876C20.6671 33.7636 20.0956 34.0012 19.4286 34.0004H14.5714C13.9036 34.0004 13.3316 33.7624 12.8556 33.2864C12.3796 32.8104 12.142 32.2389 12.1429 31.5718V26.7147ZM7.28571 24.2861C7.95357 24.2861 8.5255 24.5241 9.0015 25.0001C9.4775 25.4761 9.71509 26.0477 9.71428 26.7147V31.5718C9.71428 32.2397 9.47628 32.8116 9.00029 33.2876C8.52429 33.7636 7.95276 34.0012 7.28571 34.0004H2.42857C1.76072 34.0004 1.18879 33.7624 0.712787 33.2864C0.236788 32.8104 -0.000807462 32.2389 2.06161e-06 31.5718V26.7147C2.06161e-06 26.0468 0.238002 25.4749 0.714002 24.9989C1.19 24.5229 1.76153 24.2853 2.42857 24.2861H7.28571Z"
          fill="white" :fill-opacity="iconOpacity"/>
      <path
          d="M26.7143 9.71428C26.0464 9.71428 25.4745 9.47628 24.9985 9.00029C24.5225 8.52429 24.2849 7.95276 24.2857 7.28571V2.42857C24.2857 1.76072 24.5237 1.18879 24.9997 0.712787C25.4757 0.236788 26.0472 -0.000807462 26.7143 2.06161e-06H31.5714C32.2393 2.06161e-06 32.8112 0.238002 33.2872 0.714002C33.7632 1.19 34.0008 1.76153 34 2.42857V7.28571C34 7.95357 33.762 8.5255 33.286 9.0015C32.81 9.4775 32.2385 9.71509 31.5714 9.71428H26.7143Z"
          fill="white" :fill-opacity="iconOpacity"/>
    </svg>
  </template>

  <template v-if="props.icon === MenuItems.ARMOR">
    <svg @click="handleMenuClick(MenuItems.ARMOR)" width="41" height="43" viewBox="0 0 41 43" fill="none"
         xmlns="http://www.w3.org/2000/svg">
      <path
          d="M27.2348 0L17.2555 19.7593H18.5859L19.8826 18.4756L20.5 17.8643L22.4141 19.7593H29.2327L36.5048 2.48082C35.7179 2.00187 34.179 1.35549 32.4961 0.901131C30.6477 0.402007 28.651 0.069835 27.2348 0ZM13.7278 0.00201723C12.3135 0.0760788 10.3363 0.406426 8.5039 0.901131C6.82101 1.35549 5.28212 2.00197 4.4952 2.48082L11.7673 19.7593H15.3031L19.0603 12.32L13.7278 0.00201723ZM16.5659 2.1694L20.0833 10.2945L24.157 2.22828C21.5422 2.78082 19.2008 2.76247 16.5659 2.1694ZM4.23934 6.36853L0 12.6642L6.39233 16.4614L7.87107 14.9974L4.23934 6.36853ZM36.7607 6.36853L33.1288 14.9974L34.6076 16.4614L41 12.6641L36.7607 6.36853ZM20.5 20.3093L18.5187 22.2708L20.5 25.2131L22.4814 22.2708L20.5 20.3093ZM10.5059 21.4884V24.3702H17.8334L16.2714 22.0507L16.8394 21.4884H10.5059ZM24.1606 21.4884L24.7286 22.0507L23.1666 24.3702H30.4941V21.4884H24.1606ZM11.6317 26.0993L9.10451 41.9721C20.1873 43.3426 20.8127 43.3426 31.8955 41.9721L29.3683 26.0993H22.0022L20.5 28.3299L18.9978 26.0992L11.6317 26.0993Z"
          fill="white" :fill-opacity="iconOpacity"/>
    </svg>
  </template>

  <template v-if="props.icon === MenuItems.WEAPON">
    <svg @click="handleMenuClick(MenuItems.WEAPON)" width="33" height="32" viewBox="0 0 33 32" fill="none"
         xmlns="http://www.w3.org/2000/svg">
      <path
          d="M7.94192 17.9617L14.0517 24.0652L11.6095 26.5059L14.0552 28.9483L11.6113 31.389L7.33353 27.1169L2.44393 32L0 29.5593L4.88959 24.6745L0.611847 20.4041L3.05578 17.9634L5.49971 20.4024L7.94192 17.9617ZM0.945425 0L7.07427 0.00517831L27.4986 20.4041L29.9442 17.9634L32.3899 20.4041L28.1121 24.6762L33 29.5593L30.5561 32L25.6665 27.1169L21.3905 31.389L18.9448 28.9483L21.3887 26.5059L0.948882 6.09483L0.945425 0ZM25.9326 0L32.0563 0.00517831L32.0598 6.0862L25.0546 13.0803L18.9431 6.97859L25.9309 0H25.9326Z"
          fill="white" :fill-opacity="iconOpacity"/>
    </svg>
  </template>

  <template v-if="props.icon === MenuItems.MISC">
    <svg @click="handleMenuClick(MenuItems.MISC)" width="33" height="43" viewBox="0 0 33 43" fill="none"
         xmlns="http://www.w3.org/2000/svg">
      <path
          d="M26.8641 5.13046e-05C25.964 0.0052681 25.3381 0.278921 24.9553 0.935413C23.344 3.69757 21.4187 6.57733 20.4875 9.83554C20.7485 9.9115 21.006 9.99909 21.258 10.0967C21.9346 10.3587 22.5812 10.6899 23.1483 11.0904C25.6819 8.75273 28.5006 6.95266 31.1954 5.09915C32.2404 4.38033 32.3248 3.8559 32.1324 3.19273C31.9401 2.52956 31.2244 1.69496 30.2437 1.0716C29.263 0.448329 28.0472 0.0346469 27.0479 0.00261393C26.9853 0.00060043 26.9241 -0.000223263 26.8641 5.13046e-05ZM20.5149 0.0683273C19.5929 0.0516701 18.8777 0.653432 18.3134 1.92075C17.4908 3.76896 17.3737 6.81135 18.1804 9.53406C18.1947 9.53333 18.2089 9.53196 18.2234 9.53132C18.4065 9.52335 18.5905 9.52473 18.7755 9.53406C19.6438 6.34706 21.3489 3.61071 22.8255 1.15717C21.8768 0.379596 21.0886 0.0787608 20.5149 0.0683273ZM11.5628 5.39577L10.5966 6.81163C11.9603 7.73052 13.2703 8.61691 14.2602 9.68306C14.6205 10.0711 14.9383 10.4813 15.2089 10.9284C15.5465 10.5068 15.9777 10.1688 16.4686 9.9407C16.5061 9.92349 16.5441 9.90821 16.5816 9.89219C16.2666 9.39431 15.9095 8.93871 15.5225 8.52191C14.3478 7.25643 12.9237 6.31283 11.5628 5.39577ZM32.1541 6.51876C29.462 8.37008 26.764 10.1021 24.3924 12.2646C24.4327 12.3173 24.4704 12.3714 24.5081 12.4256C26.4111 11.8079 29.0618 11.0223 31.3099 10.6492C32.3666 10.4738 32.7509 10.0495 32.927 9.43851C33.1032 8.82751 32.9682 7.90917 32.4379 6.96896C32.3503 6.81462 32.2555 6.66446 32.1541 6.51876ZM11.5473 10.8999C10.1716 10.9183 8.81138 11.2935 7.5024 12.0683L8.38238 13.5354C10.3753 12.3557 12.3048 12.2419 14.385 13.1178C14.4329 12.606 14.5474 12.1422 14.7281 11.7258C14.7603 11.652 14.7952 11.5806 14.8314 11.5103C13.7391 11.0966 12.6385 10.8856 11.5473 10.8999ZM18.5224 11.26C18.0091 11.2524 17.5473 11.3279 17.1948 11.4912C16.7921 11.6777 16.5078 11.9409 16.307 12.4037C16.2257 12.591 16.1624 12.8192 16.1244 13.0895C16.1663 13.0889 16.2081 13.0868 16.25 13.0865C17.7272 13.0788 19.2486 13.34 20.7878 13.9276C21.4976 14.1985 22.1738 14.6097 22.8165 15.1342C23.1126 14.9105 23.2757 14.7023 23.3478 14.5361C23.4591 14.2801 23.4485 14.0617 23.2894 13.7289C22.971 13.0631 21.8901 12.1771 20.6341 11.6907C20.0061 11.4474 19.3477 11.3041 18.7456 11.2684C18.6703 11.2638 18.5958 11.2611 18.5224 11.26ZM16.2443 14.7797C14.1295 14.7865 12.129 15.4557 10.263 16.5902C7.27741 18.4055 4.68981 21.4522 2.86975 24.8302C1.04987 28.2081 0.00489575 31.9149 1.86989e-05 34.9462C-0.00485835 37.9719 0.944142 40.1877 3.01937 41.1498C3.02333 41.1516 3.02692 41.1537 3.03088 41.1555H3.03382C5.32254 42.2089 9.0718 42.9253 13.0094 42.9944C16.9469 43.0636 21.0878 42.495 24.2242 41.1468C26.245 40.2783 27.4031 38.5428 27.9511 36.1903C28.4989 33.8377 28.3668 30.9134 27.7325 28.0161C27.0981 25.1187 25.9657 22.2446 24.5951 19.9735C23.2245 17.7025 21.594 16.0688 20.1723 15.5261C18.823 15.0111 17.5131 14.7757 16.2443 14.7797Z"
          fill="white" :fill-opacity="iconOpacity"/>
    </svg>
  </template>

</template>
<script setup lang="ts">

import {onBeforeMount, ref, watch} from "vue";
import {MenuItems} from "@/modules/inventory-panel/types/menu-item.types";

const props = defineProps({
  icon: {
    type: String,
    required: true
  },
  active: {
    type: Boolean,
    required: true,
  }
});
const iconOpacity = ref<number>(0.5);

onBeforeMount(() => {
  if (props.active === true) {
    iconOpacity.value = 1;
  }
})

const emit = defineEmits<{
  (e: 'menuClick', target: string): void
}>()

watch(() => props.active, (currentState) => {
  if (currentState === true) {
    iconOpacity.value = 1;
  } else {
    iconOpacity.value = 0.5;
  }
})

function handleMenuClick(target: string) {
  emit('menuClick', target);
}
</script>