<style scoped src="./App.scss"></style>
<template>
  <div class="container">
    <InventoryPanel></InventoryPanel>
  </div>
</template>
<script setup lang="ts">

import InventoryPanel from "./modules/inventory-panel/InventoryPanel.vue";
</script>
