@font-face {
  font-family: 'Archivo Black';
  src: url('../fonts/ArchivoBlack-Regular.ttf');
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../fonts/JetBrainsMono-Regular.ttf');
}


html, body, #app {
  height: 100%;
  margin: 0;
  font-family: 'Archivo Black', sans-serif;
}